*~
*.elc
auto-save-list
projectile-bookmarks.eld
ac-comphist.dat
eshell/
tramp
.python-environments
abbrev_defs
bookmarks
projectile.cache
semanticdb
network-security.data
custom.el
recentf
.lsp-session-v1