*~
*.elc
auto-save-list
projectile-bookmarks.eld
ac-comphist.dat
eshell/
tramp
.python-environments
abbrev_defs
bookmarks
projectile.cache
semanticdb
network-security.data
recentf
.lsp-session-v1
elpa/
transient/
eln-cache
projects
straight/

# Local customization
custom.el
