[submodule "auto-complete"]
	path = auto-complete
	url = http://github.com/auto-complete/auto-complete.git
[submodule "ropemacs"]
	path = ropemacs
	url = ./ropemacs/
[submodule "lisp/emacs-color-theme-solarized"]
	path = lisp/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
